.title-color {
	color: #ed5626;
}
.title-size {
	font-size: 22px;
	margin-bottom: 20px;
}
span, p {
	color: #78808a;
	line-height: 26px;
}
body {
	min-width: 1000px;
}
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}