/*
Style with support for rainbow parens
*/

.highlight
    color: #d1d9e1
    background: #f1f2f7
    padding: 6px 16px
    margin: 10px 0
    border-radius: 5px
    overflow: auto
    font-size: 13px
    figcaption
        position: absolute
        right: 10px
        top: 5px
        span
            color: #e6e6e6
    .code
        .line
            color: #78808a
        .comment,
        .quote
            color: #b1b1b1
            font-style: italic
        .params
            color: #f3a140
        .keyword,
        .selector-tag,
        .literal,
        .type,
        .addition
            color: #cc99cc

        .number,
        .selector-attr,
        .selector-pseudo
            color: #f99157

        .string,
        .doctag,
        .regexp
            color: #e56659
        .title,
        .name,
        .section,
        .built_in
            color: #f3a140
        .variable,
        .template-variable,
        .selector-id,
        .class .title
             color: #ffcc66

        .section,
        .strong
            font-weight: bold

        .symbol,
        .bullet,
        .subst,
        .meta,
        .link
            color: #f99157

        .deletion
            color: #dc322f

        .formula
            background: #eee8d5

        .attr,
        .attribute
            color: #ddc155

        .emphasis
            font-style: italic
@media screen and (max-width: 768px)
    .highlight
        border-radius: 0