<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <title>Loading...</title>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
  <!-- stylesheets list from config.yml -->
  <% theme.stylesheets.forEach(function(url) { %>
    <link rel="stylesheet" href="<%=url%>">
  <% }); %>
  <% } %>
</head>
<body>
  <div :module="header" class="header"></div>
  <div :module></div>
  <div :module="footer"></div>
</body>
<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(function(url) { %>
    <script src="<%=url%>"></script>
  <% }); %>
<% } %>

<script>
  am.startRouter ( {
    history: am.HASH,
    baseURL: {
      module: "module__",
      component: "component__"
    },
    routes: function ( router ) {
      router.redirect ("/doc", "/doc/first-step");
      router.redirect ("/api", "/api/global-object");

      router.module ( "header" )
      .route ( ["/", "/:root"], "common/header" );

      router.module ()
      .route ( ["/", "/index"], "index" )
      .route ( "/doc", "doc", function ( childRouter ) {
        childRouter.module ( "menu" ).route ( ["", ":menu"], "common/menu" );

        childRouter.module ().route ( ":docName", ":docName/index" );
      } )
      .route ( "/api", "doc", function ( childRouter ) {
        childRouter.module ( "menu" ).route ( ["", ":menu"], "common/menu" );
        childRouter.module ().route ( ":apiName", ":apiName/index" );
      } );

      router.module ( "footer" )
      .route ( ["/", "/:root/:docName"], "common/footer" );
    },

    plugin: [
      {
        name: "nav", 
        build: function () {
          return <%-JSON.stringify ( theme.menu ) %>;
        }
      },
      {
        name: "menu",
        build: function () {
          return {};
        }
      },
      {
        name: "checkPost",
        build: function () {
          return function ( prevOrNext, posts ) {
            var find = false;
            for ( var i in posts ) {
              if ( posts [ i ].title === prevOrNext.title ) {
                find = true;

                break;
              }
            }

            // 如果上一篇或下一篇文章不在此分类的文章中，则返回空数据
            return find ? prevOrNext : { title: "", path: "" };
          };
        }
      }
    ] 
  } );
</script>
</html>